*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.general-form, .education-form, .experience-form{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
}

.form-row{
  display: flex;
  flex-direction: column;
}